wakapi.yourdomain.tld {
    encode zstd gzip

    header {
        Strict-Transport-Security "max-age=2592000; includeSubDomains"
    }
	
    log {
        output file /var/log/caddy/wakapi.dev.access.log
    }

    reverse_proxy http://[::1]:3000
}
